In [32]:
l=[1,2,3,4]
result =[]

for ele in l:
    squared_value= ele**2
    result.append(squared_value)

print(result)

[1, 4, 9, 16]

In [33]:
ele # last assigned value

4

In [34]:
#List comprension
l=[1,2,3,4]

[ele2**2 for ele2 in l]

[1, 4, 9, 16]

In [35]:
ele2 # yo chaii list comprensive bhanda baira basdaina

NameError: name 'ele2' is not defined

In [ ]:
# given list l =[1,2,3,4,5,6,7]  odd index laii square garney even indax laiii cube garney and store in a new list

l1=[1,2,3,4,5,6,7]
result1=[]

for ele1 in l1:

    if l1.index(ele1)%2 ==  0:
      cubed_value = ele1**3
      result1.append(cubed_value)
      
    else:
     squared_value = ele1**2
     result1.append(squared_value)
   
      
   
print(result1)

[1, 4, 27, 16, 125, 36, 343]

In [ ]:
l1=[1,2,3,4,5,6,7]
[
    ele1**3 if l1.index(ele1)%2==0 else ele1**2 
    for ele1 in l1
]

[1, 4, 27, 16, 125, 36, 343]

In [ ]:
"""
Create a new list by squaring the element in odd index and cubing the elements in even index only if the element is greater or equal to 5.
"""
[
    ele **3 if l1.index(ele)%2==0 else ele**2
    for ele in l1 
    if ele>=5
]

[125, 36, 343]

In [ ]:
"""
    Create a new dictionary using follwing condition:
    1) square the odd values
    2) cube the even values
    3) keeping the same key
"""

d={'a':1,'b':2,'c':3,'d':4}
result={}

for k, v in d.items(): # d.items create the iterations  
    if v%2==0:
        value = v**3
    else:
        value = v**2
    result[k]=value
print(result)

{'a': 1, 'b': 8, 'c': 9, 'd': 64}

In [54]:
d = {'a': 1, 'b': 2, 'c': 3, 'd': 4}
result = {}

for k, v in d.items():  # d.items() creates the iterations
    if v >= 2:   
        if v % 2 == 0:
            value = v ** 3
        else:
            value = v ** 2
        result[k] = value  

print(result)

{'b': 8, 'c': 9, 'd': 64}

In [ ]:
{
   k:
   v**3  if v%2==0 else v**2 
   for k,v in d.items()
   if v>=2
}

{'b': 8, 'c': 9, 'd': 64}

In [40]:
for k, v in d.items():
    if v%2 == 0:
        value = v**3
    else:
        if v>2:
          value= v**2
        else:
            value=(v**2)+1
    result[k]=value
print(result)

{'a': 2, 'b': 8, 'c': 9, 'd': 64}

In [43]:
{
   k:
   v**3  if v%2==0 else  v**2 if v>2 else (v**2)+1
   for k,v in d.items()
   
}

{'a': 2, 'b': 8, 'c': 9, 'd': 64}

>### Anonymous Function

. We use lamda here
. x,y,z:x+y+z

In [42]:
var =lambda x,y,z : x+y+z
var(1,2,3)

6

In [44]:
type(1)

int

In [46]:
def func():
    pass

In [ ]:
l =['a','b','c']

enumerate(l) # generator it store the representation

In [47]:
l =['a','b','c']

list(enumerate(l))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [49]:
l=[1,2,3,]
l1=[4,5,6]
zip(l,l1)

In [ ]:
l=[1,2,3,100] # ignore 100
l1=[4,5,6]
list(
zip(l,l1)
)

[(1, 4), (2, 5), (3, 6)]

In [ ]:
map
filter

sum
range
sqrt(x)