In [7]:
brand ="addidas"
print("Value of brand : ",brand)
print("Data Type  of brand : ",type( brand))

Value of brand :  addidas
Data Type  of brand :  <class 'str'>

In [8]:
brand =10
print("Value of brand(after) : ",brand)
print("Data Type  of brand(after) : ",type( brand))

Value of brand(after) :  10
Data Type  of brand(after) :  <class 'int'>

In [9]:
a = 5
print(a)

5

In [10]:
a,b,c=5,3,4
print(a)
print(b)
print(c)

5
3
4

In [11]:
fruits = "mango","apple" , "grapes"
print(fruits)

('mango', 'apple', 'grapes')

In [12]:
*fruits,a,b=["mango","apple" , "grapes",'a','b']
print(fruits)
print(a)
print(b)

['mango', 'apple', 'grapes']
a
b

In [13]:
first,*middle,last=["mango","apple" , "grapes",'a','b']
print(first)
print(middle)
print(last)

mango
['apple', 'grapes', 'a']
b

In [ ]:
b=15
b+=0.1
print(b)
print("The data type pf b is: ")

15.1
The data type pf b is:  <class 'float'>

In [37]:

#String Methods
txt= "   NCCS is in Kathmandu.  "
print(txt.split("n"))
print(len(txt))
print(txt.upper())
print(txt.lower())
print(txt.title())
print(txt.swapcase())
print(txt.capitalize())
print(txt.endswith("u."))
print(txt.startswith("N"))
print(txt.replace("i","p"))
print(txt.strip())
print(txt.lstrip())
print(txt.rstrip())

['   NCCS is i', ' Kathma', 'du.  ']
26
   NCCS IS IN KATHMANDU.
   nccs is in kathmandu.
   Nccs Is In Kathmandu.
   nccs IS IN kATHMANDU.
   nccs is in kathmandu.
False
False
   NCCS ps pn Kathmandu.
NCCS is in Kathmandu.
NCCS is in Kathmandu.
   NCCS is in Kathmandu.

In [1]:
#identity operator
a=[2]
b=a 
a is b

True

In [2]:
# membership operator
5 in [1,2,3,4]

False

In [4]:
5 not in [1,2,6,7]

True