> ### Tuple

In [46]:
#initilize
tup=tuple()

print(type(tup))

<class 'tuple'>

In [47]:
# once we create the tuple we can't modify the list or element

tup =() # empty tuple
print(type(tup))

<class 'tuple'>

In [48]:
tup =(1,2,3,4,5,6,7)
type(tup)

tuple

In [49]:
tup = ('a','b','c','d') # by adding coma the data type of var will be tuple
type(tup)

tuple

In [50]:
tup=(1,2,3,4,5,6,1,2,3,1,2,1)
tup.count(1)

4

In [51]:
tup.index(2,3) # give the index of first occuring value : 3 is the starting point

7

In [52]:
tup[1:4:1]

(2, 3, 4)

In [53]:
(1,2,3)+(4,5,6)

(1, 2, 3, 4, 5, 6)

> # Dictionary
It stores the element in order

In [54]:
#initilize
a = { }
print(a,type(a))

{} <class 'dict'>

In [55]:
# curly braces are used to take input in the set and dictionary
# key value pair is dictionary
# number is set

d1= dict()
print(d1,type(d1))

{} <class 'dict'>

In [56]:
d2={'a':10,'b':'second value','c':[1,2,3,4],'d':(1,)}
print(d2,type(d2))

{'a': 10, 'b': 'second value', 'c': [1, 2, 3, 4], 'd': (1,)} <class 'dict'>

In [57]:
d1['a']

KeyError: 'a'

In [58]:
print(d1.get('a','key doesnot exist'))

key doesnot exist

In [59]:
d1['a']= 1
print(d1)

{'a': 1}

In [60]:
print("Before: ",d1)
d1['b']=[4,5,6,7]
print("After: ",d1)

Before:  {'a': 1}
After:  {'a': 1, 'b': [4, 5, 6, 7]}

In [ ]:
print("Before: ",d1)
d1['a']=100
print("After: ",d1)

Before:  {'a': 1, 'b': [4, 5, 6, 7]}
After:  {'a': 100, 'b': [4, 5, 6, 7]}

In [ ]:
print("Before: ",d1)
d1.update(d2) # 
print(f"{d2 = }")
print("After: ",d1)

Before:  {'a': 100, 'b': [4, 5, 6, 7]}
d2 = {'a': 10, 'b': 'second value', 'c': [1, 2, 3, 4], 'd': (1,)}
After:  {'a': 10, 'b': 'second value', 'c': [1, 2, 3, 4], 'd': (1,)}

In [63]:
d1.keys()

dict_keys(['a', 'b', 'c', 'd'])

In [64]:
d1.values()

dict_values([10, 'second value', [1, 2, 3, 4], (1,)])

In [66]:
d1

{'a': 10, 'b': 'second value', 'c': [1, 2, 3, 4], 'd': (1,)}

In [ ]:
d1.items() # it store the key value paired in a tuple

dict_items([('a', 10), ('b', 'second value'), ('c', [1, 2, 3, 4]), ('d', (1,))])

In [67]:
print("Before: ",d1)
popped_value=d1.pop('a')
print("After: ",d1)
print("Popped value: ",popped_value)

Before:  {'a': 10, 'b': 'second value', 'c': [1, 2, 3, 4], 'd': (1,)}
After:  {'b': 'second value', 'c': [1, 2, 3, 4], 'd': (1,)}
Popped value:  10

In [ ]:
print("Before: ",d1)
popped_key_value=d1.popitem() # it will pop out the last element
print("After: ",d1)
print("Popped value: ",popped_key_value)

Before:  {'b': 'second value', 'c': [1, 2, 3, 4], 'd': (1,)}
After:  {'b': 'second value', 'c': [1, 2, 3, 4]}
Popped value:  ('d', (1,))

In [ ]:
d1.setdefault('deafult')# it is used when we want to store the key with out any value
print(d1)

{'b': 'second value', 'c': [1, 2, 3, 4], 'deafult': None}

># SET
It store the element randomly

In [ ]:
s1 = set() 
print(s1, type(s1))

set() <class 'set'>

In [ ]:
s2 = {1,2,3,4,5,6}
print(s2, type(s2))

{1, 2, 3, 4, 5, 6} <class 'set'>

In [ ]:
s2={1,2,3,4,5,6,1,1,1,1,2} # it store only unique value it doesn't store the duplicate value
print(s2)

{1, 2, 3, 4, 5, 6}

In [ ]:
s1.add(3) # we use add keyword to add the element in the set 
print(s1)

{3}

In [ ]:
s1.add(3)
print(s1)

{3}

In [ ]:
print("Before:",s2)
s2.remove(1)
print("After:",s2)

Before: {1, 2, 3, 4, 5, 6}
After: {2, 3, 4, 5, 6}

In [ ]:
print("Before:",s2)
s2.discard(2) #Unlike set.remove(), the discard() method does not raise an exception when an element is missing from the set
print("After:",s2)

Before: {3, 4, 5, 6}
After: {3, 4, 5, 6}

In [ ]:
print("Before:",s2)
popped_value=s2.pop() # it remove the random element because element are not order properly
print(f"{popped_value = }")
print("After:",s2)

Before: {3, 4, 5, 6}
popped_value = 3
After: {4, 5, 6}

In [ ]:
print("Before:",s2)
s2.clear()
print("After:",s2)

Before: {4, 5, 6}
After: set()

### Union and Intersection

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

union_set=s1.union(s2)
print(f"{s1 =}")
print(f"{s2 =}")
print(f"{union_set =}")

s1 ={1, 2, 3, 4, 5}
s2 ={4, 5, 6, 7, 8}
union_set ={1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

intersection_set=s1.intersection(s2)
print(f"{s1 =}")
print(f"{s2 =}")
print(f"{intersection_set =}")

s1 ={1, 2, 3, 4, 5}
s2 ={4, 5, 6, 7, 8}
intersection_set ={4, 5}

In [ ]:
s1={1,2,3,4,5}
s2={4,5,6,7,8}

intersection_set=s1.intersection_update(s2) # it doesn't return in the new set but return by updating the s1 
print(f"{s1 =}")
print(f"{s2 =}")
print(f"{intersection_set =}")

s1 ={4, 5}
s2 ={4, 5, 6, 7, 8}
intersection_set =None